<form [formGroup]="productForm">
    <div 
      formArrayName="items"
      *ngFor="let item of productForm.get('items')['controls']; let i = index;"
    >
      <div [formGroupName]="i" class="d-flex content-start" > 
          <div class="col-1.5">
            <input formControlName="productName" class="form-control" placeholder="Product Name"  required>
          </div>
          <div class="col-1.5" style="margin-left:10px">
            <input formControlName="productDescription" class="form-control" placeholder="Product Description" required>
          </div>
          <div class="col-1.5" style="margin-left:10px">
            <input formControlName="productColor"  class="form-control" placeholder="Product Color" required>
          </div>
          <div class="col-1.5" style="margin-left:10px">
            <input formControlName="productSize" class="form-control" placeholder="Product Size" required>
          </div>
        
          <div class="col-1.5" style="margin-left:10px">
            <input formControlName="productWeight" class="form-control" placeholder="Product Weight" required>
          </div>
      <div class="col-1.5" style="margin-left:10px">
        <input formControlName="productQuantity"  class="form-control" placeholder="Product Quantity" required>
    </div>
    <div> 
        <button type="button" style="margin-left:10px" class="btn btn-primary" (click)="addItem()">Add Item</button>
    </div>
      </div>
    
      <div  align="left" style="padding-left:500px;">
<br/>
        <b>Added Product Details is : </b>
        <p>Product Name: {{ productForm.controls.items.controls[i].controls.productName.value }}</p>
        <p>Product Description: {{ productForm.controls.items.controls[i].controls.productDescription.value }}</p>
        <p>Product Color: {{ productForm.controls.items.controls[i].controls.productColor.value }}</p>
        <p>Product Size: {{ productForm.controls.items.controls[i].controls.productSize.value }}</p>
        <p>Product Weight: {{ productForm.controls.items.controls[i].controls.productWeight.value }}</p>
        <p>Product Quantity :{{ productForm.controls.items.controls[i].controls.productQuantity.value }}</p>
      </div>

    </div>
   
  </form>


  